.container{
   
    text-align: center;
    width: 60%;
    /* height: 100%; */
    margin: auto auto;
    padding-top: 10%;
    padding-bottom: 2%;
    margin-top: 4%;
    background-color: azure;
    
    
}

.input1,.input2{
    margin-bottom: 2%;
    height: 40px;
    width: 200px;
    border-radius: 10%;

}

.add, .subtract, .multiply, .divide{
    width: 60px;
    height: 40px;
    margin-top: 2%;

}

.output{
  color: red;
  font-size: 24px;
  padding-top: 4%;
}